{% extends 'base.html' %}

{% block header %} 
    <header>
        <div id="menu-jk" class="nav-part shadow-md bg-white navcol">
            <div class="container-lg">
                <div class="row  p-2">
                    <div class="col-lg-3 p-1">
                    <a href="index.html">
                        <img class="max-230" src="{{ url_for('static' , filename='images/ligo.png') }}" alt="">
                        </a>
                        <a  data-bs-toggle="collapse" data-bs-target="#menu" class="float-end d-lg-none pt-1 ps-3"><i class="bi pt-1 fs-1 cp bi-list"></i></a>
                    </div>
                    <div id="menu" class="col-lg-9 d-none pt-1 d-lg-block">
                        <ul class="fw-bold nacul fs-7">
                            <li style="visibility: hidden;" class="float-start p-3 px-4"><a>Acceuil</a></li>
                            <li class="float-start p-3 px-4"><a href="{{ url_for('index') }}">Acceuil</a></li>
                            <li class="float-start p-3 px-4"><a href="#service">Services</a></li>
                            <li class="float-start p-3 px-4"><a href="{{ url_for('forme') }}">test</a></li>
                            <li class="float-end d-none d-md-block pt-2">
                                <button onclick="window.location.href='{{ url_for('login') }}'" class="btn fw-bolder px-4 py-2 btn-outline-primary">connexion</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}  
<div style="min-height:100vh;">
    <div style="min-height:100vh;">
      <div style="min-height:100vh;">
        <div style="margin-top: 10px;background-image: url('{{ url_for('static', filename='images/slider/s2.jpg') }}');">
            <div class="row">
                <div style="margin-top: 100px;" class="container" id="forme_css">
                    <form method="post" action="/get_result" id="contactForm" class="forme_css">
                        <div class="mb-3">
                            <label class="form-label" for="chloreLibreResiduelMgL">Chlore libre résiduel (mg/L)</label>
                            <input class="form-control" id="chloreLibreResiduelMgL" name="val1" type="text" placeholder="Chlore libre résiduel (mg/L)" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="chloreLibreResiduelMgL:required">Chlore libre résiduel (mg/L) is required.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="turbiditeNtu">Turbidité (NTU)</label>
                            <input class="form-control" id="turbiditeNtu" name="val2" type="text" placeholder="Turbidité (NTU)" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="turbiditeNtu:required">Turbidité (NTU) is required.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="fluorureMgL">Fluorure (mg/L)</label>
                            <input class="form-control" id="fluorureMgL" name="val3" type="text" placeholder="Fluorure (mg/L)" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="fluorureMgL:required">Fluorure (mg/L) is required.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="coliformQuantiTrayMpn100ML">Coliform (Quanti-Tray) (MPN /100mL)</label>
                            <input class="form-control" id="coliformQuantiTrayMpn100ML" name="val4" type="text" placeholder="Coliform (Quanti-Tray) (MPN /100mL)" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="coliformQuantiTrayMpn100ML:required">Coliform (Quanti-Tray) (MPN /100mL) is required.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="eColiQuantiTrayMpn100ML">E.coli (Quanti-Tray) (MPN/100 mL)</label>
                            <input class="form-control" id="eColiQuantiTrayMpn100ML" name="val5" type="text" placeholder="E.coli (Quanti-Tray) (MPN/100 mL)" data-sb-validations="required" />
                            <div class="invalid-feedback" data-sb-feedback="eColiQuantiTrayMpn100ML:required">E.coli (Quanti-Tray) (MPN/100 mL) is required.</div>
                        </div>
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                <p>To activate this form, sign up at</p>
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Error sending message!</div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary cursor-pointer btn-lg " id="submitButton" type="submit">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    window.onload = () => {
        if('{{ data }}' == '[&#39;Excellent&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Excellente",
                text: "L’eau est d’une qualité exceptionnelle, dépassant toutes les normes de salubrité. Idéale pour toutes les utilisations.",
                imageUrl: "{{ url_for('static',filename='images/alert/excellent.jpg') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }else if('{{ data }}' == '[&#39;Poor&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Faible",
                text: "L’eau est de qualité inférieure, ne respectant pas certaines normes de salubrité. Un traitement est recommandé avant utilisation..",
                imageUrl: "{{ url_for('static',filename='images/alert/poor.jpg') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }else if('{{ data }}' == '[&#39;Good&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Bonne",
                text: "L’eau est de bonne qualité, respectant toutes les normes de salubrité. Convient à la plupart des utilisations.",
                imageUrl: "{{ url_for('static',filename='images/alert/good.jpg') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }else if('{{ data }}' == '[&#39;Fair&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Moyenne",
                text: "L’eau est de qualité moyenne, respectant la plupart des normes de salubrité. Certaines utilisations peuvent nécessiter un traitement supplémentaire",
                imageUrl: "{{ url_for('static',filename='images/alert/fair.png') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }else if('{{ data }}' == '[&#39;Very Good&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Très Bonne",
                text: "L’eau est de très bonne qualité, respectant presque toutes les normes de salubrité. Convient à presque toutes les utilisations",
                imageUrl: "{{ url_for('static',filename='images/alert/very_good.png') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }else if('{{ data }}' == '[&#39;Sample class&#39;]'){
            Swal.fire({
                title: "Qualité d’eau : Classe d’échantillon",
                text: "Ceci est une classe d’échantillon utilisée pour tester les fonctionnalités de l’application. Les résultats peuvent ne pas refléter la qualité réelle de l’eau..",
                imageUrl: "{{ url_for('static',filename='images/alert/simple_class.png') }}",
                imageWidth: 200,
                imageHeight: 200,
                imageAlt: "Custom image"
            });
        }
        
    }
  </script>
{% endblock %}  